@font-face {
    font-family: 'Abel';
    src: local('Abel'), url(./Assets/font/Abel-Regular.ttf) format('truetype');
}

body {
    background-color: #eceef1;
    background-image: url(./Assets/img/LightBackGround.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    font-family: 'Abel', sans-serif !important;
    height: 100%;
}

.App {
    margin: 0 auto;
    width: 100%;
    min-height: 1500px;
}

.Lightmain {
    color: white;
    min-height: 1200px;
    font-size: 50px;
    padding-top: 150px;
}

.Darkmain {
    color: #d9d2d2;
    min-height: 1200px;
    font-size: 50px;
    padding-top: 150px;
    background-color: rgba(0, 0, 0, 0.5);
}

.header {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px 0px 15px;
    font-size: calc(10px + 2vmin);
}

.Light {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px 0px 15px;
    font-size: calc(10px + 2vmin);
}

.Dark {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px 0px 15px;
    font-size: calc(10px + 2vmin);
    background-color: rgba(0, 0, 0, 0.5);
}

.Light .headerName {
    font-size: 40px;
    color: white;
}

.Dark .headerName {
    font-size: 40px;
    color: #dfcfcf;
}

.Light .userName {
    color: black;
}

.Dark .userName {
    color: #dfcfcf;
}

.Light .themeName {
    color: white;
}

.Dark .themeName {
    color: #dfcfcf;
}

.logoPicture {
    background-image: url(./Assets/LOGO.png);
    background-size: 160px 80px;
    width: 160px;
    height: 80px;
}

.Light .languageName {
    color: white;
}

.Dark .languageName {
    color: #dfcfcf;
}

#dropdown-basic.languageButton {
    background-color: #00b5cc;
    border: none;
    color: white;
}

.dropdown-item {
    color: white !important;
}

.languageButton:hover {
    background-color: #0f7d8b;
}

.languageButton:focus {
    background-color: #00b5cc;
}

.Light .languageButton {
    background-color: #00b5cc;
    border: none;
}

.Light .languageButton:hover {
    background-color: #0f7d8b;
}

.Light .languageButton:focus {
    background-color: #00b5cc;
}

.Dark .languageButton {
    background-color: #4b909a;
    border: none;
}

.Dark .languageButton:hover {
    background-color: #0f7d8b;
}

.Dark .languageButton:focus {
    background-color: #00b5cc;
}

.Light a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.Dark a {
    color: #dfcfcf;
    text-decoration: none;
    margin-right: 20px;
}

.Darkfooter {
    height: 150px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.Lightfooter {
    height: 150px;
    width: 100%;
}

.button {
    width: 150px;
    min-width: 170px;
    min-height: 50px;
    height: 60px;
    border-radius: 10px;
    font-size: 25px;
    margin: 10px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 100%;
    padding: 10px;
    color:white;
    background-color: #00b5cc;
    text-decoration: none !important;
}
a{
    text-decoration: none;
}
.profileContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.profileView{
    background-color: rgba(14, 60, 100, 0.5);
    border-radius: 30px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.userComponent {
    width: 1100px;
    min-height: 350px;
    padding-left: 30px;
    margin: 10px;
    border-radius: 15px;
    background-color: rgba(14, 60, 100, 0.5);
    font-size: 25px;
    padding-bottom: 20px;
}

.add_user_container {
    width: 400px;
    height: 100px;
    transition-duration: 0.3s;
    overflow: hidden;
}

.add_user_container_opened {
    width: 400px;
    height: 500px;
    transition-duration: 0.3s;
    overflow: hidden;
}

.label {
    font-size: 15px;
}

.form {
    margin-top: 25px;
    font-size: 15px;
}

.form-group {
    height: 65px;
    font-size: 15px;
}

.error {
    color: red;
    font-size: 15px;
}

form {
    width: 450px;
}

.cartContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 900px;
    min-height: 300px;
    border: 1px solid #0e3c64;
    font-size: 20px;
    border-radius: 30px;
    padding: 20px;
    background-color: rgba(14, 60, 100, 0.5);
    margin: 30px;
}

.product {
    padding: 10px;
    border: 1px solid #213648;
    border-radius: 10px;
}

.productImg {
    width: 200px;
    height: 200px;
}

.productView {
    background-color: rgba(14, 60, 100, 0.3);
    width: 350px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    font-size: 18px;
}

.productsEditListContainer {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.quantityContainer {
    margin: 10px;
}

.modalContainer {
    width: 600px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    background-color: rgba(14, 60, 100, 0.8);
    color: white;
    border-radius: 30px;
    margin-top: 400px;
    font-size: 30px;
}

.productsContainer {
    width: 100%;
}

.dropdown-menu.show {
    background-color: #213648 !important;
    margin-top: 20px;
}

.Dark .themeIcon {
    height: 60px;
    width: 60px;
    background-image: url(./Assets/img/DarkIcon.png);
    background-size: 60px 60px;
    transform: rotate(180deg);
    margin: 15px;
}

.Light .themeIcon {
    height: 60px;
    width: 60px;
    background-image: url(./Assets/img/LightIcon.png);
    background-size: 60px 60px;
    transform: rotate(180deg);
    margin: 15px;
}

#switch.form-check-input {
    background-color: #0e3c64
}

.category {
    font-size: 30px;
    color: #00b5cc;
    text-decoration: underline;
}

.modalWindow {
    width: 600px;
    height: 200px;
    background-color: #0b7ce0;
    color:white;
    font-size: 23px;
    margin:0 auto;
    margin-top: 400px;

}