.App {
    margin:0 auto;
    width:1350px;
    height:1500px;
    border:1px solid black;
}

 .Lightmain{

     background-color: #d9d2d2;
     color: #125fa4;
     height:1200px;
     font-size: 50px;
     padding-top: 150px;
}

 .Darkmain{
    background-color: #125fa4;
     color: #d9d2d2;
     height:1200px;
     font-size: 50px;
     padding-top: 150px;
}
.header{
    height:150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px 0px 15px;
    font-size: calc(10px + 2vmin);
}

.Light{
    height:150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px 0px 15px;
    font-size: calc(10px + 2vmin);
    background-color: #adb9c7;
}
.Dark{
    height:150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px 0px 15px;
    font-size: calc(10px + 2vmin);
    background-color: #0e3c64;
}
.Light .headerName{
    font-size: 56px;
    color: #132d48;
}
.Dark .headerName{
    font-size: 56px;
    color: #dfcfcf;
}
.Dark .userName{
    color: #dfcfcf;
}
.Light .userName{
    color:#0e3c64;
}
.Dark .themeName{
    color: #dfcfcf;
}
.Light .themeName{
    color:#0e3c64;
}
.Dark .languageName{
    color: #dfcfcf;
}
.Light .languageName{
    color:#0e3c64;
}
.Light  a{
    color:#0e3c64;
    text-decoration: none;
    margin-right: 40px;
}
.Dark  a{
    color: #dfcfcf;
    text-decoration: none;
    margin-right: 40px;
}
.Darkfooter{
    background-color: #0e3c64;
    height:150px;
    width:100%;
}
.Lightfooter{
    background-color: #adb9c7;
    height:150px;
    width:100%;
}
.button{
    width:150px;
    height:50px;
    border-radius: 100px;
    font-size: 40px;
}
